<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#"> REMI </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ site.rooturl }}{{ site.baseurl }}/">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Explore
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="{{ site.rooturl }}{{ site.baseurl }}/search">Full Text Search</a>
				<a class="dropdown-item" href="{{ site.rooturl }}{{ site.baseurl }}/periodic-table">Search by Periodic Table</a>
				<a class="dropdown-item" href="{{ site.rooturl }}{{ site.baseurl }}/periodic-table">Example Scripts</a>
				<a class="dropdown-item" href="{{ site.rooturl }}{{ site.baseurl }}/example-scripts/AFLOW-sym">AFLOW install</a>				
            </div>
        </li>			
        <li class="nav-item">
            <a class="nav-link" href="{{ site.rooturl }}{{ site.baseurl }}/data-links">Data</a>
        </li>			
        <li class="nav-item">
            <a class="nav-link" href="{{ site.rooturl }}{{ site.baseurl }}/contribute">Contribute</a>
        </li>			
        <li class="nav-item">
            <a class="nav-link" href="{{ site.rooturl }}{{ site.baseurl }}/learn">Learn</a>
        </li>	
        <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ site.rooturl }}{{ site.baseurl }}/about">About</a>
                <a class="dropdown-item" href="{{ site.rooturl }}{{ site.baseurl }}/contact">Contact</a>
                <a class="dropdown-item" href="{{ site.rooturl }}{{ site.baseurl }}/docs">Documentation</a>
            </li>
        </ul>
		<!--
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Full Text Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
		-->
		<script async src="https://cse.google.com/cse.js?cx=005050388268538350479:crqxjczj7de"></script>
		<div class="gcse-search"></div>
    </div>
</nav>